{% extends "template.html" %}
{% block content %}
    <h1>Faça seu cadastro</h1>
    <form method="post" action="{{ url_for('autenticar_cadastro') }}">
        <input type="hidden" value="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.cadastro(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}