{% extends "template.html" %}
{% block content %}
    <h1>Selecione o seu filtro</h1>
    <form method="post" action="{{ url_for('grafico') }}">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.mercado.label(class="form-label") }}
            {{ form.mercado(class="form-select") }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    {{ form.ano_inicio.label(class="form-label") }}
                    {{ form.ano_inicio(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.ano_final.label(class="form-label") }}
                    {{ form.ano_final(class="form-control") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    {{ form.mes_inicio.label(class="form-label") }}
                    {{ form.mes_inicio(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.mes_final.label(class="form-label") }}
                    {{ form.mes_final(class="form-control") }}
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            {{ form.filtrar(class="btn btn-primary") }}
        </div>
    </form>
    <br>
    <form action="{{ url_for('logout') }}" method="POST" onsubmit="redirecionar()">
        {{ form.csrf_token() }}
        <input class="btn btn-primary" type="submit" value="Logout">
    </form>
    {% if grafico and grafico != 'none' %}
        <div class="text-center">
            <img src="{{ grafico }}" class="rounded">
        </div>
    {% elif grafico == 'none' %}
        <div class="text-center">
            <h1>NÃO EXISTE DADOS PARA ESTE MERCADO NESTE INTERVALO</h1>
        </div>
    {% endif %}
{% endblock %}